body {
  font-size: 1em;
}

.body-container {
  background-image: url('../../images/bg.jpg');
  margin-top: 90px;
}

.home-page-container {
  background-image: url('../../images/home-page.jpg');
  margin-top: 90px;
}

