.drawer {
  width: 450px;
}

.drawer-top {
  background-color: rgba($color: white, $alpha: 0.4);
  border-radius: 0 8px 8px 0;
}

.drawer-title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0 !important;
}

.drawer-icon {
  font-size: 35px;
  cursor: pointer;
}

.drawer-bottom {
  height: 85vh;
  overflow-y: scroll;
  background-color: rgba($color: white, $alpha: 0.5);
}

.drawer-tab {
  padding: 20px 10px;
  font-weight: 600;
  font-size: 1rem;
}

.drawer-number {
  width: 70px;
  text-align: center;
}

#selected {
  background-color: rgba($color: #000000, $alpha: 0.85);
  color: white;
}

#unselected {
  cursor: pointer;
}

.left-tab {
  background-color: rgba($color: white, $alpha: 0.5);
  padding: 20px 10px;
  flex-direction: column;
}

.arrow-icon {
  font-size: 2.3rem;
  padding: 2px;
  cursor: pointer;
  background-color: black;
  color: white;
  text-align: center;
  border-radius: 8px;
}

.vertical-text {
  font-size: 1.4rem;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  font-weight: 600;
  margin-block-end: 0 !important;
  margin-block-start: 0 !important;
}


@media screen and (max-width: 1200px) {
  .drawer {
    position: absolute;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .left-tab{
    display: none !important;
  }

  .drawer-top {
    background-color: #e5e5e5;
    border-radius: 0;
  }

  .drawer-bottom {
    background-color: #f6f6f6;
  }
}

@media screen and (max-width: 576px) {
  .drawer {
    width: 100%;
  }
}





