.modal-header{
  border-bottom: none;
}

.modal-title {
  margin-bottom: 0;
  line-height: 1.5;
  flex: 4;
  text-align: center;
}

.modal-body{
  max-height: 50vh;
  overflow-y: scroll;
  padding: 20px;
  margin: 0 50px 0 50px;
}

.form-error{
  color: #d0021b;
  background-image: none;
  padding-left: 4px;
  padding-top: 2px;
  font-size: 12px;
  text-align: left;
  display: block;
}

.dev{
  width: 200px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.edit-profile-modal-profilePicture{
  width: 200px;
}

.edit-profile-modal-profilePicture-selectIcon{
  position: absolute;
  margin: 140px  100px 100px 160px;
  padding: 5px;
  background-color: $doctor-registration-dp-upload-background;
  width: 40px;
  &:hover{
    cursor: pointer;
  }
}