.myappointment-page {
  padding-top: 50px;
  padding-bottom: 50px;
  height: 70vh;
  //   padding: 10px;
  .myappointment-table-container{
    margin: auto;
    max-height: 60vh;
    overflow-y: auto;
    max-width: 1000px;
  }
  table {
    background-color: $table-BG;
  }
  thead {
    // border-width: 0;
    vertical-align: middle;
  }
  tbody {
    border-color: aqua;
  }
  th,
  td,
  tr {
    border-color: $table-border;
    font-size: 1em;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    text-align: center;
  }

  &-table-head {
    background-color: $table-header;
    color: $table-header-text;
    font-size: 0.8em;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
  }
}
