.navbar {
  background-color: $navbar-BG;
  font-size: 1.2em;
  font-family: "Roboto", sans-serif;
  font-weight: 500;

  .logout-btn {
    margin-left: 25px;
  }
}

.nav-logo {
  height: 70px;
}

.profile-picture {
  width: 50px;
  cursor: pointer;
}

.profile-overlay {
  background: #ffffff21;
}