.add-pres-section-title{
  background-color: #111b47;
}

.add-pres-section-container{
  background-color: rgba(1,1,1,0.3);
  overflow-y: scroll;
  height: 250px;
}

.add-pres-section-item{
  width: 250px;
}

.add-pres-section-item-img{
  width: 30px;
  margin-right: 20px;
  cursor: pointer;
}