.reportLst{
  margin: 0;
}

.list-container{
  height: 83vh;
  overflow-y: auto;
}

.lab-report{
  margin-left: 50%;
}

.report-list {
  &-collapse-container {
    padding: 0;
    background-color: $reportlist-collapse;
    position: absolute;
  }
  &-collapse {
    overflow: scroll;
    overflow-x: hidden;
  }
  &-collapse-header {
    display: flex;
    flex: row;
    padding-top: 10px;
    margin-bottom: 5px;
    justify-content: flex-start;
    border-bottom: 2px solid black;
  }
  &-backbutton-image {
    height: 35px;
    width: 35px;
    padding: 5px;
  }
  &-collapse-title {
    text-align: center;
    font-size: 1em;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
  }
  &-collapse-body {
    padding: 0;
  }
  &-collapse-body-subtitle {
    background-color: $reportlist-collapse-submodule-BG;
    color: $reportlist-collapse-submodule-title;
    padding: 10px;
    font-size: 1em;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    border-left: 2px solid black;
    border-right: 2px solid black;
  }
  &-collapse-body-row {
    display: flex;
    border: 2px solid black;
    border-block-style: solid;
    border-block-width: 1px;
    padding: 5px;
    padding-left: 20px;
  }
  &-row-selected {
    background-color: $reportlist-collapse-row-selected;
  }
  &-collapse-body-culumn2 {
    margin-left: 20px;
    font-size: 0.9em;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
  }

  &-image-container {
    margin: "20px 0";
  }
  &-empty-report-text {
    font-size: 0.9em;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    padding: 5px 20px;
    border: 2px solid black;
    background-color: rgba(1, 1, 1, 0.32);
  }
}
