/*dct*/
$dct-BG: rgba(0, 0, 0, 0.4);
$dct-dr: #050203;
$dct-toggleOnline: #3ff600;
$dct-toggleOffline: #f70000;

/*navbar*/
$navbar-BG: rgba(45, 74, 87, 1);

/*footer*/
$footer-BG: #e7ecff;
$footer-copyrightTX: #939ea4;
$footer-navlinkTX: #111b47;
