/* dct */
$dct-BG: rgba(0, 0, 0, 0.4);
$dct-dr: #050203;
$dct-toggleOnline: #3ff600;
$dct-toggleOffline: #f70000;

/* navbar */
$navbar-BG: rgba(45, 74, 87, 1);

/* footer */
$footer-BG: #e7ecff;
$footer-copyrightTX: #939ea4;
$footer-navlinkTX: #111b47;

/* search */
$search-btn-color: #637ae2;

/* home-page */
$home-page-content-image-border: #38447e;
$home-page-content-title: #0136bf;
$home-page-content: #050d0f;
$home-page-title: #e7ecff;
$home-page-aboutus-btn: #101b48;

/* doctor-registration */
$doctor-registration-BG: rgba(1, 1, 1, 0.2);
$doctor-registration-dp-background: #02b002;
$doctor-registration-dp-upload-background: white;
$doctor-registration-Save-btn: #111b47;
$doctor-registration-leftBorder: whitesmoke;

/*my appointment*/
$table-BG: rgba(0, 0, 0, 0.3);
$table-border: rgb(0, 0, 0);
$table-header: rgb(28, 28, 28);
$table-header-text: rgb(255, 255, 255);

/*report list*/
$reportlist-collapse: #f6f6f6;
$reportlist-collapse-submodule-BG: #234351;
$reportlist-collapse-submodule-title: #fff;
$reportlist-collapse-row-boder: #000;
$reportlist-collapse-row-selected: #2343515d;

/* Spinner */
$spinner-color: #000000;
