@import "~bootstrap/scss/bootstrap";
@import "partials/fonts";
@import "colors";
@import "partials/spinner";

@import "partials/client";
@import "partials/dct";
@import "partials/navbar";
@import "partials/footer";
@import "partials/search";

@import "partials/dct";
@import "partials/navbar";
@import "partials/doctorprofile";
@import "partials/sessioncard";
@import "partials/session";
@import "partials/patientprofile";
@import "partials/home";
@import "partials/editprofilemodal";
@import "partials/doctorregistration";
@import "partials/doctor_time_schedule";
@import "partials/searchbyMCNum";
@import "partials/patientReqList";
@import "partials/patientlist";
@import "partials/prescription_card";
@import "partials/add_prescriptions";
@import "partials/addmanualappointment";
@import "partials/login";
@import "partials/drawer";
@import "partials/reportlist";
@import "partials/myappointments";
@import "partials/data_not_available";
